This is the NLP class workshop-3 working with SMS-spam-collection-dataset. 

1. Use the previous dataset “spam dictation”
2.   Preprocess text including:
    
*  Remove white space
*  Remove anything that is not English
* Calculate word length and added with column name “length”


3. Create new column name “text2”
4. Use labelEncoder method to convert class target
5.  Use CountVectorize to perform BOW
6.  List Top 5 and bottom 5 of transform sample to show the resultsand submit your works to MS team

In [249]:
import nltk
import pandas as pd
import re

#load the dataset
df = pd.read_csv("Datasets/spam.csv",encoding='latin-1')
print("loaded dataset!")
df

loaded dataset!

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [250]:
# Drop the specified columns
df.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

# Display the updated DataFrame
print(df)

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [251]:
#remove whitespaces and convert to lowercase 
df['v2'] = df['v2'].apply(lambda x: x.lower())
df['v2'] = df['v2'].apply(lambda x: re.sub(r'\s+', ' ', x))
df['v2']

0       go until jurong point, crazy.. available only ...
1                           ok lar... joking wif u oni...
2       free entry in 2 a wkly comp to win fa cup fina...
3       u dun say so early hor... u c already then say...
4       nah i don't think he goes to usf, he lives aro...
                              ...
5567    this is the 2nd time we have tried 2 contact u...
5568                will ì_ b going to esplanade fr home?
5569    pity, * was in mood for that. so...any other s...
5570    the guy did some bitching but i acted like i'd...
5571                           rofl. its true to its name
Name: v2, Length: 5572, dtype: object

In [252]:
#remove anything that is not English
df['v2'] = df['v2'].apply(lambda x: re.sub(r'[^a-zA-Z]', ' ', x))
df['v2']

0       go until jurong point  crazy   available only ...
1                           ok lar    joking wif u oni
2       free entry in   a wkly comp to win fa cup fina...
3       u dun say so early hor    u c already then say
4       nah i don t think he goes to usf  he lives aro...
                              ...
5567    this is the  nd time we have tried   contact u...
5568                will    b going to esplanade fr home
5569    pity    was in mood for that  so   any other s...
5570    the guy did some bitching but i acted like i d...
5571                           rofl  its true to its name
Name: v2, Length: 5572, dtype: object

In [253]:
if 'v1' in df.columns and 'v2' in df.columns:
    df['label'] = df['v1']
    df['text'] = df['v2']
else:
    print("Column 'v1' and 'v2' does not exist in the DataFrame.")
    df.drop(columns=['v1', 'v2'], inplace=True)

df = df[['label', 'text']]
df['length'] = df['text'].apply(lambda x: len(x.split()))
    
df

/var/folders/tl/prng6d3x0sg5pgynysrs6g7c0000gn/T/ipykernel_20578/1674331322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['length'] = df['text'].apply(lambda x: len(x.split()))

     label                                               text  length
0      ham  go until jurong point  crazy   available only ...      20
1      ham                      ok lar    joking wif u oni          6
2     spam  free entry in   a wkly comp to win fa cup fina...      30
3      ham  u dun say so early hor    u c already then say         11
4      ham  nah i don t think he goes to usf  he lives aro...      14
...    ...                                                ...     ...
5567  spam  this is the  nd time we have tried   contact u...      28
5568   ham              will    b going to esplanade fr home        7
5569   ham  pity    was in mood for that  so   any other s...      10
5570   ham  the guy did some bitching but i acted like i d...      27
5571   ham                         rofl  its true to its name       6

[5572 rows x 3 columns]

In [254]:
#create new column for removing numbers and special characters
df['text2'] = df['text'].apply(lambda x: re.sub(r'[^a-zA-Z]', ' ', x))
df

,label,text,length,text2
0,ham,go until jurong point crazy available only ...,20,go until jurong point crazy available only ...
1,ham,ok lar joking wif u oni,6,ok lar joking wif u oni
2,spam,free entry in a wkly comp to win fa cup fina...,30,free entry in a wkly comp to win fa cup fina...
3,ham,u dun say so early hor u c already then say,11,u dun say so early hor u c already then say
4,ham,nah i don t think he goes to usf he lives aro...,14,nah i don t think he goes to usf he lives aro...
...,...,...,...,...
5567,spam,this is the nd time we have tried contact u...,28,this is the nd time we have tried contact u...
5568,ham,will b going to esplanade fr home,7,will b going to esplanade fr home
5569,ham,pity was in mood for that so any other s...,10,pity was in mood for that so any other s...
5570,ham,the guy did some bitching but i acted like i d...,27,the guy did some bitching but i acted like i d...
5571,ham,rofl its true to its name,6,rofl its true to its name

In [255]:
#labelEncoding the target variable 
#!pip3 install scikit-learn
from sklearn.preprocessing import LabelEncoder

df['label_transform']= LabelEncoder().fit_transform(df['label'])
df

,label,text,length,text2,label_transform
0,ham,go until jurong point crazy available only ...,20,go until jurong point crazy available only ...,0
1,ham,ok lar joking wif u oni,6,ok lar joking wif u oni,0
2,spam,free entry in a wkly comp to win fa cup fina...,30,free entry in a wkly comp to win fa cup fina...,1
3,ham,u dun say so early hor u c already then say,11,u dun say so early hor u c already then say,0
4,ham,nah i don t think he goes to usf he lives aro...,14,nah i don t think he goes to usf he lives aro...,0
...,...,...,...,...,...
5567,spam,this is the nd time we have tried contact u...,28,this is the nd time we have tried contact u...,1
5568,ham,will b going to esplanade fr home,7,will b going to esplanade fr home,0
5569,ham,pity was in mood for that so any other s...,10,pity was in mood for that so any other s...,0
5570,ham,the guy did some bitching but i acted like i d...,27,the guy did some bitching but i acted like i d...,0
5571,ham,rofl its true to its name,6,rofl its true to its name,0

In [256]:
#count the count of unique words changing text data  to numerical data
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(stop_words=None,token_pattern=r'\b\w+\b')
matrix = vectorizer.fit_transform(df['text2'])

# Convert to array and inspect the result
print(matrix.toarray())  # This should now contain non-zero values
print("Total unique words:", len(vectorizer.get_feature_names_out()))  # Total unique words

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Total unique words: 7708

In [257]:
matrix_array = pd.DataFrame(matrix.toarray(),columns= vectorizer.get_feature_names_out())
matrix_array

,a,aa,aah,aaniye,aaooooright,aathi,ab,abbey,abdomen,abeg,...,zeros,zf,zhong,zindgi,zoe,zogtorius,zoom,zouk,zs,zyada
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [258]:
#Sorting the top 10 words
matrix_array.T.sort_values(0,ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9,...,5562,5563,5564,5565,5566,5567,5568,5569,5570,5571
got,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
until,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
point,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
there,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
wat,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
la,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
n,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
available,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
amore,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
great,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [259]:
#first 5 rows of the transformed dataset
print ("Top 5 rows of the transformed dataset")
matrix_array.head(5)

Top 5 rows of the transformed dataset

,a,aa,aah,aaniye,aaooooright,aathi,ab,abbey,abdomen,abeg,...,zeros,zf,zhong,zindgi,zoe,zogtorius,zoom,zouk,zs,zyada
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [260]:
#Bottom 5 rows of the transformed dataset
print ("Bottom 5 rows of the transformed dataset")
matrix_array.tail(5)

Bottom 5 rows of the transformed dataset

,a,aa,aah,aaniye,aaooooright,aathi,ab,abbey,abdomen,abeg,...,zeros,zf,zhong,zindgi,zoe,zogtorius,zoom,zouk,zs,zyada
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [261]:
#KDD (Knowledge Discovery in database ) process